

.download {
	@include flex-row(nowrap, space-between, stretch);
	flex: 1 1 40%;
	// padding: 2.5rem;
}
.download__tel {
	flex: 1 1 50%;
	margin-right: 2rem;

	background-image: url(/img/mobile-phone.png );
	background-size: contain;
	background-position: center bottom;
	background-repeat: no-repeat;
}
.download__info {
	flex: 1 1 40%;
	padding-top: 6rem;

	@include flex-row(nowrap, space-between, stretch);
}

@media screen and (max-width: 1200px) {
	.download {
		padding: 2.5rem;
	}
	.download__tel {
		display: none;
	}
}


@media screen and (max-width: 768px) {
	.download__info	 {
		padding-top: 0;
		@include flex-row(wrap, space-between, stretch);
	}
	.download {
		padding: 0;
	}
	.download__tel {
		display: block;
		flex: 1 1 20%;
		background-position: 0 100%;
	}
}

@media screen and (max-width: 599px) {
	.download__tel {
		display: none;
	}
}