.hero {
	@include flex-col(nowrap, space-between, stretch);
	padding: 2rem 0 19rem 0;

	height: 77.6rem;

	background-image: url(/img/bg/bg-hero.jpg);
	background-position: 50% 50%;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}