.inner-page {
	.hero {
		padding: 3rem 0 3rem 0;
		height: auto;
	}	
}

.inner-page__grid {
	// @include flex-row(wrap, space-between, flex-start);
	align-items: flex-start;
	justify-content: space-between;
}