.lead-links {
	@include flex-col(nowrap, space-between, stretch);
	flex: 1 0 40%;
		
}

.lead-links__item {
	background-color: lighten( $color_main, 5%);
	text-decoration: none;
	padding: 2rem 3.5rem;
	margin-bottom: 2rem;

	transition: 300ms cubic-bezier(.57,.8,.57,.93);

	// transform: translateX(3rem);
	opacity: 0;

	&:first-of-type {
		transition-delay: 550ms, 0ms;
		transition-property: opacity, background-color;
	}
	&:nth-of-type(2) {
		transition-delay: 650ms, 0ms;
		transition-property: opacity, background-color;
	}

	&:hover {
		background-color: darken($color_main, 5%);
	}

	p {
      	font-size: 2.4rem;
      	color: #fff;
      	font-weight: 300;

      	margin: 0 0 1rem 0;
      }
      span {
      	font-size: 1.4rem;
      	color: #fff;
      }
}

@media screen and (max-width: 614px) {
	.lead-links {
		flex: 1 1 100%;
	}
}