.partner {}
.partner__address {
	margin: .7rem .7rem .7rem 0;
	font-weight: 600;
	font-size: 1.6rem;
}
.partner__name {
	// font-style: italic;
	margin: .4rem .4rem .4rem 1rem;
}
.partner__info {
	margin: .4rem .4rem .4rem 1rem;
}