.program {
	@include flex-row(nowrap, space-between, stretch);

}
.program__card {
	flex: 1 1 25%;
	margin-right: 2.5rem;
}
.program__text {
	flex: 1 1 70%;

	p:first-child {
		margin-top: 0;
	}
}


@media screen and (max-width: 1200px) {
	.program__card {
		display: none;
	}
}