.search-params {
	@include flex-row(nowrap, flex-start, stretch);
	color: #515151;
	font-size: 1.5rem;
}
.search-params__region {
	@include flex-row(nowrap, flex-start, center);
	margin-right: 2.5rem;
	flex: 1 1 35%;

	label {
		margin-right: 2.5rem;
	}
}
.search-params__checkboxes {
	flex: 1 1 60%;
	border: 0;
	padding: 0;
	@include flex-row(nowrap, flex-start, stretch);
}


@media screen and (min-width: 769px) and (max-width: 1300px) {
	.search-params {
		@include flex-row(wrap, flex-start, stretch);
	}
	.search-params__region {
		@include flex-row(nowrap, center, center);
		margin-right: 0;
		flex: 1 1 100%;
		height: 3.8rem;
		margin: 1rem 0;
		label {
			margin-right: 4.5rem;
		}
	}
	.search-params__checkboxes {
		flex: 1 1 100%;
		height: 3.8rem;
		margin: 1rem 0;
	}
}		
@media (max-width: 799px)  {

}