.tel {
	color: #fff;
	font-size: 2.4rem !important;
	font-weight: 600;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0,0,0,.6);
	&:visited {
		color: #fff;
	}
	&:focus {
		color: #fff;
	}
}
.tel__note {
	font-size: 14px;
	color: #fff;
	font-weight: 400;
}
